<form action="{% url 'login' %}" method="post" role="form">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Имя</label>
        <input name="username" id="name" type="text" class="form-control" required
               placeholder="Введите имя">
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input name="password" id="password" type="password" class="form-control" required
               placeholder="Введите пароль">
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>