{% extends "base.html" %}

{% block content %}

    {% if request.user.is_authenticated %}
        <h3 class="text-center">
            {{ user.get_username }}, вы уже авторизованы!
        </h3>
    {% else %}
        <div class="row">
            <div class="col-xs-6 col-md-offset-3">
                {% include "registration/_login_form.html" %}
            </div>
        </div>
        <h3 class="text-center">
        Если у вас нет логина и пароля, то напишите <a href="mailto:r.afanaskin@yandex.ru">администратору</a>
        <h3>

    {% endif %}


{% endblock content %}