{% extends 'base.html' %}

{% block title %}
    Оставтье комментарий в гостевой книге
{% endblock title %}

{% block content %}

    <h3>Комментарии гостевой книги "{{ book.title }}"</h3>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Имя</th>
            <th>Текст</th>
            <th>Дата</th>
        </tr>
        {% for comment  in book.comment_set.all %}
            <tr>
                <td>{{ comment.author|default:"Аноним" }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.created|date:"DATETIME_FORMAT" }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="well">
        <h4>Новый комментарий</h4>

        <form action="{% url 'comments:create' %}" method="post" role="form">{% csrf_token %}
            <input type="text" name="book" class="hidden" value="{{ book.id }}">
            <div class="form-group">
                <textarea name="content" class="form-control" rows="3" placeholder="Текст комментария"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>

{% endblock content %}