{% extends 'base.html' %}

{% block title %}
    Ваши гостевые книги
{% endblock title %}

{% block content %}

    <h3>Комментарии гостевой книги "{{ book.title }}"</h3>

    <form action="/" class="moderate" role="form">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Имя</th>
                <th>Текст</th>
                <th>Дата</th>
                <th>Одобрено</th>
            </tr>
            {% for comment  in book.comment_set.all %}
                <tr>
                    <td>{{ comment.autor|default:"Аноним" }}</td>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.created|date:"DATETIME_FORMAT" }}</td>
                    <td>
                        <input name="id" type="text" class="hidden" value="id"/>
                        <input name="moderate" type="checkbox">
                    </td>
                </tr>

            {% endfor %}
        </table>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="button" class="btn btn-success s-approve-all">Одобрить все</button>
        </div>
    </form>

{% endblock content %}