{% extends 'base.html' %}

{% block title %}
    Ваши гостевые книги
{% endblock title %}

{% block content %}

    <div class="jumbotron">
        <a href="#create-update" class="btn btn-primary btn-lg btn-block" data-url="{% url 'books:create' %}" role="button">
            Создать гостевую книгу
        </a>
    </div>

    <ul class="list-group">
        {% for book in book_list %}
            <li class="list-group-item">
                <a href="#delete" class="badge" data-url="{% url 'books:delete' pk=book.pk %}"><i
                        class="glyphicon glyphicon-remove"></i></a>
                <a href="#create-update" class="badge" data-url="{% url 'books:update' pk=book.pk %}"><i
                        class="glyphicon glyphicon-pencil"></i></a>
                <a href="{{ book.get_absolute_url }}" class="name">{{ book.title }}</a>
                {% if book.moderate %}
                    <span class="label label-warning">Модерация</span>
                {% endif %}
                <span class="label label-info">{{ book.get_absolute_url }}</span>
            </li>
        {% empty %}
            <h3 class="text-center">
                У Вас пока нет ни одной книги! Создайте её
            </h3>
        {% endfor %}
    </ul>


    <div id="create-update" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="#" method="post" role="form">{% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Гостевая книга</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Название</label>
                            <input name="title" id="title" type="text" class="form-control" required
                                   placeholder="Название">
                        </div>
                        <div class="checkbox">
                            <label><input name="moderate" type="checkbox" checked>Модерация</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="delete" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="#" method="post" role="form">{% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Удаление гостевой книги</h4>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены? Восстановить гостевую книгу будет невозможно</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Удалить</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}