{% load staticfiles %}<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Гостевая книга{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>

<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Гостевая книга</a>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><p class="navbar-text">{{ user.get_username }}</p></li>
                <li><a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
                <li><a href="#authorization" data-toggle="modal">Войти</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}


    {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}
</div>

{% if not user.is_authenticated %}
    <div id="authorization" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Войти</h4>
                </div>
                <div class="modal-body">
                    {% include "registration/_login_form.html" %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{% static 'js/project.js' %}"></script>
</body>
</html>
